<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <%= render 'userinfo', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1 col-sm-12">
      <div class="texts-wrapper">
        <h3 class="ml-2">投稿一覧</h3>
        <div class="contents-title">
          <%= render 'posts/card_style', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>