<%= render 'layouts/flash_messages' %>
<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<li><%= link_to " 新規投稿",  new_post_path,class: "btn btn-warning mr-3"%></li>

<li><%= link_to " ユーザー一覧",  users_path,class: "btn btn-warning mr-3"%></li>