/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Shippori+Mincho&display=swap');

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.text-center {
  text-align: center;
}

// .top_bg {
//     background-image: image-url('top_bg.jpg');
//     background-size: auto 600px;
//     background-position: center;
// }

main {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1280px;
}

.top-mv {
  background-image: image-url('top_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  height: 400px;
}

.top-mv-content-head {
  color: #fff;
  font-size: calc(15px + 2.5vw);
  letter-spacing: .8rem;
  font-family: 'Shippori Mincho', serif;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

.search-form-box {
  padding: 1rem;
  border: solid #fff 2px;
}

.top-rank-name {
  background-color: #FFD48C;
  font-size: calc(10px + 1vw);
  text-align: center;
  margin-top: 10px;
  width: auto;
}

.card {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 10px;
}
.card-img-top {
  padding: 0 0 0 25px;
  max-width: 100%;
  height: auto;
}
.card-body {
  padding: 20px;
}


.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 20px;
  line-height: 1.5;
}

.card-charms {
  display: inline-block;
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

.charm-btn {
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #FF3333;
 margin-left: auto;
 }

.un-charm-btn {
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #e54747;
 margin: auto;
 text-align: right;
 }
