/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Shippori+Mincho&display=swap');

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1280px;
}

.text-center {
  text-align: center;
}

.top-mv {
  background-image: image-url('top_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  height: 400px;
}

.top-mv-content-head {
  color: #fff;
  font-size: calc(15px + 2.5vw);
  letter-spacing: .8rem;
  font-family: 'Shippori Mincho', serif;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}

.top-rank-name {
  background-color: #FFD48C;
  font-size: calc(10px + 1vw);
  text-align: center;
  margin-top: 10px;
  width: auto;
}

.search-form-box {
  padding: 1rem;
  border: solid #fff 2px;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 10px;
}
.card-img-top {
  max-width: 100%;
  height: auto;
}
.card-body {
  padding: 5px;
}

.card-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: #333;
}
.card-text {
  color: #333;
  font-size: 20px;
  line-height: 1.5;
}

.card-charms {
  display: inline-block;
}

.card-link {
  font-size: 20px;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 10px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

.form-label {
  font-size: 20px;
}

.form-group {
  width: 600px;
}

.user_picture {
  .profile_image {
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 150px;
  }
}

.li-float li {
  float: left;
  list-style: none;
  text-align: left;
  margin-right: 0px;
}

.charm-btn {
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #FF3333;
 margin-left: auto;
 }

.un-charm-btn {
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #e54747;
 margin: auto;
 text-align: right;
 }

.navbar-nav-item {
  align-items: flex-end;
}
.navbar-toggler {
  border-color: #000000;
  background-color: #edb100;
}

.navbar-toggler-button {
  align-items: flex-end;
}

.Table{
}
.Table td,
.Table th{
}
@media only screen and (max-width:991px){
	.Table {
	}
	.Table th,
	.Table td{
		display: block;
	}
}

.pagination {
  margin-top: 10px;
  justify-content: center;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: #edb100;
  bottom: 0;
}
