<div class="model-error-messages", id="error_explanation">
  <% if model.errors.any? %>
    <h3><%= model.errors.count %> 件のエラーが発生しました下記の条件を満たしてください。</h3>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <ul><li><%= message %></li></ul>
      <% end %>
    </ul>
  <% end %>
</div>